.home-container {
    /* background-color: red; */
    /* width: 100vw;*/
    /* height: auto;  */
}

.main-container{
    background-color: #f7f7f7;
    /* margin: 500px; */
    display: flex;
    padding-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    /* height: 100vh; */
}

.header-container {
    background-color: white;
    display: flex;
    height: 130px;
    margin-top: -20px;
    padding-left: 40px;
    align-items: center;
}